# /etc/systemd/system/watchdog.timer
[Unit]
Description=Run Security Watchdog every 5 minutes

[Timer]
# Run 5 minutes after boot
OnBootSec=5min
# Run 5 minutes after the last run finished
OnUnitActiveSec=5min
Unit=watchdog.service

[Install]
WantedBy=timers.target
